<?xml version="1.0"?>
<config>
    <modules>
        <MageAustralia_CheckoutSuccess>
            <version>1.1.0</version>
        </MageAustralia_CheckoutSuccess>
    </modules>

    <global>
        <helpers>
            <mageaustralia_checkoutsuccess>
                <class>MageAustralia_CheckoutSuccess_Helper</class>
            </mageaustralia_checkoutsuccess>
        </helpers>
        <models>
            <mageaustralia_checkoutsuccess>
                <class>MageAustralia_CheckoutSuccess_Model</class>
            </mageaustralia_checkoutsuccess>
        </models>
        <blocks>
            <mageaustralia_checkoutsuccess>
                <class>MageAustralia_CheckoutSuccess_Block</class>
            </mageaustralia_checkoutsuccess>
        </blocks>
        <resources>
            <mageaustralia_checkoutsuccess_setup>
                <setup>
                    <module>MageAustralia_CheckoutSuccess</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </mageaustralia_checkoutsuccess_setup>
        </resources>
        <template>
            <email>
                <mageaustralia_checkoutsuccess_claim_orders>
                    <label>Checkout Success - Claim previous orders</label>
                    <file>mageaustralia/checkoutsuccess/claim_orders.html</file>
                    <type>html</type>
                </mageaustralia_checkoutsuccess_claim_orders>
            </email>
        </template>
    </global>

    <frontend>
        <layout>
            <updates>
                <mageaustralia_checkoutsuccess>
                    <file>mageaustralia_checkoutsuccess.xml</file>
                </mageaustralia_checkoutsuccess>
            </updates>
        </layout>
        <translate>
            <modules>
                <MageAustralia_CheckoutSuccess>
                    <files>
                        <default>MageAustralia_CheckoutSuccess.csv</default>
                    </files>
                </MageAustralia_CheckoutSuccess>
            </modules>
        </translate>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mageaustralia_checkoutsuccess before="Mage_Adminhtml">MageAustralia_CheckoutSuccess_Adminhtml</mageaustralia_checkoutsuccess>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <mageaustralia_checkoutsuccess>
                    <file>mageaustralia_checkoutsuccess.xml</file>
                </mageaustralia_checkoutsuccess>
            </updates>
        </layout>
        <translate>
            <modules>
                <MageAustralia_CheckoutSuccess>
                    <files>
                        <default>MageAustralia_CheckoutSuccess.csv</default>
                    </files>
                </MageAustralia_CheckoutSuccess>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <mageaustralia_checkoutsuccess>
            <general>
                <enabled>0</enabled>
                <detailed_info>0</detailed_info>
                <show_thumbnails>1</show_thumbnails>
                <block_top>0</block_top>
                <block_bottom>0</block_bottom>
            </general>
            <mockup>
                <slot_top></slot_top>
                <slot_middleleft>checkoutsuccess.thank.you</slot_middleleft>
                <slot_middleright>checkoutsuccess.quick.register,sales.order.view,sales.order.info,checkoutsuccess.additional</slot_middleright>
                <slot_bottom>sales.recurring.profile.schedule</slot_bottom>
            </mockup>
            <mockupsets>
                <block1>0</block1>
                <block2>0</block2>
                <block3>0</block3>
                <block4>0</block4>
            </mockupsets>
        </mageaustralia_checkoutsuccess>
    </default>
</config>
